* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d5dee7;
	padding: 2rem 6rem;

	background-image: radial-gradient(
		circle,
		transparent 60%,
		rgba(92, 92, 92, 0.4) 100%
	);
}

@media screen and (max-width: 1400px) {
	body {
		background-image: none;
	}
}
